services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    command: celery -A app.celery_app worker --loglevel=INFO
    depends_on:
      - redis

  beat:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    command: celery -A app.celery_app beat --loglevel=INFO
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"